/* Restart */

html, body, div, span, object, iframe,
h1, h2, h3, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}



/* new */

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}

h2 {
    font-size: 24px;
}

header {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    background: linear-gradient(to right, #a30606 50%, #ffffff 50%);
}

.main-navigaion {
    background: linear-gradient(to right, #a30606 50%, #ffffff 50%)
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo{
    max-width: 174px;
}

.header-adress {
    display: block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding-left: 30px;
    position: relative;
    padding-top: 10px;
}

.header-adress:before{
    content: '';
    display: block;
    width: 20px;
    height: 50px;
    background: url('../images/icon.png') no-repeat;
    background-position: -35px 0;
    position: absolute;
    left: 0px;
}

.header-logo-kia{
    max-width: 100px;
    max-height: 50px;
}

.btn {
    text-transform: uppercase;
    padding: 27px 32px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: #a30606;
}

.menu{
    display: none;
}

.main-header{
    padding: 71px 0 42px 0;
    z-index: 2;
    position: relative;
}

.main-car{
    position: absolute;
    top: 0;
    right: -350px;
    max-width: 1037px;
    z-index: -1;
}

.promo {
    display: flex;
}

.main-caption{
    font-size: 48px;
    text-transform: uppercase;
    line-height: 45px;
}

.main-btn{
    color: #a30606;
    background-color: #ffffff;
    padding-left: 67px;
    padding-right: 67px;
    font-size: 18px;
    margin-top: 45px;
}

.navigation{
    margin-top: 100px;
    color: #ffffff;
    width: 480px;
}

.nav {
    padding-top: 60px;
    max-height: 200px;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.nav a:hover{
    color: #cd7f7f;
}

.credit{
    max-width: 660px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-left: 109px;
    margin-left: 52px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: -41px;
}

.credit-caption{
    font-size: 48px;
    display: block;
    width: 100%;
}

.subcaption{
    font-size: 16px;
}

.subcaption-text{
    text-transform: uppercase;
}

.credit-form{
    width: 100%;
    display: block;
}

.credit-btn{
    padding-top: 17px;
    padding-bottom: 17px;
    max-width: 300px;
}

.credit-form input{
    width: 240px;
    margin-right: 30px;
    height: 50px;
    padding-left: 17px;
    box-sizing: border-box;
}

.credit-form input::placeholder{
    font-size: 16px;
}

.product{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.product-item{
    width: 570px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
}

.product-item img{
    position: absolute;
    z-index: -1;
    top: 16px;
}

.item-caption{
    font-size: 30px;
    display: block;
    height: 100%;
    margin-right: 120px;
    margin-top: 20px;
}

.item-caption span{
    color: #a30606;
}

.producе-surprise{
    font-size: 14px;
    color: #000000;
    padding-left: 55px;
    position: relative;
    margin-bottom: 28px;
}

.producе-surprise:before{
    content: '';
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    background: url(../images/icon.png) no-repeat;
    background-position: 6px 5px;
    background-color: #a30606;
    top: -8px;
    left: 0;
}

.product-sale{
    font-size: 18px;
    color: #a30606;
    margin-bottom: 13px;
}

.product-btn {
    padding: 17px 20px;
    font-size: 14px;
    width: 220px;
    margin-bottom: 10px;
}

.kia-credit{
    text-transform: none;
    border: 1px solid #a30606;
    background: #ffffff;
    color: #a30606;
}

.special{
    background: #333333;
}

.footer-information {
    position: relative;
    padding-bottom: 67px;
    display: flex;
    justify-content: flex-end;
}

.map {
    position: absolute;
    z-index: -1;
    left: 0;
}

.contact{
    background: #a30606;
    max-width: 540px;
    padding-top: 35px;
    padding-bottom: 53px;
    padding-left: 35px;
}

.contact-caption {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
}

.contact-adress{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-tel {
    color: #ffffff;
    text-decoration: none;
}

.contact-form {
    margin-top: 30px;
}

.contact-form input{
    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    background-color: #a30606;
    outline: none;
    color: #ffffff;
    margin-bottom: 10px;
    width: 290px;
}

.contact-form input::placeholder{
    color: #ff9393;
    font-size: 14px;
}

.footer-btn {
    width: 290px;
    color: #a30606;
    background: #ffffff;
    box-sizing: border-box;
    padding: 16px 65px;
}

.modal {
    position: absolute;
    left: 35%;
    width: 425px;
    padding: 67px 62px 36px 68px;
    top: 270px;
    z-index: 4;
    background: #ffffff;
    box-sizing: border-box;
    display: none;
}

.modal-caption{
    font-size: 24px;
    text-align: center;
}

.modal-form {
    margin-top: 27px;
}

.modal-form input{
    padding-top: 21px;
    padding-bottom: 16px;
    font-size: 14px;
    width: 295px;
    outline: none;
    padding-left: 30px;
    box-sizing: border-box;
}

.modal-form input::placeholder{
    color: #8d8d8d;
    font-size: 14px;
    text-align: center;
}

.modal-btn{
    width: 295px;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-top: 10px;
}

.modal-text{
    color: #d8d8d8;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

@media (max-width: 430px) {
    header{
        background: linear-gradient(to right, #a30606 80%, #ffffff 20%); 
    }

    .header-adress{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .header-btn {
        display: none;
    }

    .header-logo-kia{
        display: none;
    }

    .menu {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #a30606;
        position: relative;
        left: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .menu::before{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: #a30606;
        position: absolute;
        top: -5px;
    }

    .main-navigaion{
        background: #a30606; 
    }

    .menu::after{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: #a30606;
        position: absolute;
        top: 5px;
    }

    .main-car{
        max-width: 400px;
        top: 59px;
        left: 73px;
        display: none;
    }

    h1{
        font-size: 20px;
        display: none;
    }

    .navigation{
        display: none;
    }

    .main-header{
        padding-bottom: 0;
        padding-top: 0;
    }

    .main-caption{
        font-size: 30px;
    }

    .main-btn{
        font-size: 14px;
        margin-left: 15px;
        margin-bottom: 5px;
        display: none;
    }

    div.promo {
        display: flex;
        flex-wrap: wrap;
    }

    .caption-navigation{
        padding-left: 10px;
    }

    nav{
        padding-left: 10px;
    }

    .credit{
        margin-left: 0;
        padding-left: 10px;
        background: #ffffff;
    }

    .credit-btn{
        margin-top: 10px;
        border: 1px solid #ffffff;
    }
/* 
    .menu:hover ~ .main-navigaion > .main-header > h1{
        display: block;
    }

    .menu:hover ~ .main-navigaion > .main-header > .main-btn{
        display: block;
    }

    .menu:hover ~ .main-navigaion > .main-header > .main-car{
        display: block;
    }

    .menu:hover ~ .main-navigaion > .main-header > .promo > .navigation{
        display: block;
    }

    .menu:target ~ .main-navigaion > .main-header > h1{
        display: block;
    }

    .menu:target ~ .main-navigaion > .main-header > .main-btn{
        display: block;
    }

    .menu:target ~ .main-navigaion > .main-header > .main-car{
        display: block;
    }

    .menu:target ~ .main-navigaion > .main-header > .promo > .navigation{
        display: block;
    } */


}